{% extends 'base.html' %}

{% block title %}A Compliment{% endblock %}

{% block content %}


    <!-- Hi {{ person }}! I think you're {{ compliment }}! -->

    Hi, {{person }}! I think you're:
    <ul>
      {% for compliment in compliments %}
        <li>{{ compliment }}</li>
      {% endfor %}
    </ul>

    <form action="/game">
      <label><strong>Would you like to play a game?</strong></label>
      <input type="radio" name="yes-or-no" value="yes">
      <label>Yes</label>
      <input type="radio" name="yes-or-no" value="no">
      <label>No</label>
      <input type="submit">
    </form>

{% endblock %}