{% extends 'base.html' %}

{% block title %}A Compliment{% endblock %}

{% block content %}

    <p>Hi, {{person }}! I think you're
    {{ compliments[0] }}, {{ compliments[1] }}, and {{ compliments[2] }}!</p>

    <form action="/game">
      <label><strong>Would you like to play a game?</strong></label>
      <input type="radio" name="yes-or-no" value="yes">
      <label>Yes</label>
      <input type="radio" name="yes-or-no" value="no">
      <label>No</label>
      <input type="submit">
    </form>

{% endblock %}