<!-- # The template game.html should have a simple form that asks for a person,
#  a color, a noun, and an adjective. How you choose to implement those 
# inputs is up to you, but you should feel free to mix and match. (Hint: it 
# might be fun to try one as a drop-down menu of choices). This new form 
# should have the action of /madlib. -->
{% extends 'base.html' %}

{% block title %}Game.html{% endblock %}

{% block content %}

<form action="/madlib">
    <label><strong>Choose one or more names: </strong></label>
    <input type="checkbox" name="person" value="eggman">
    <label>Eggman</label>
    <input type="checkbox" name="person" value="rufus">
    <label>Rufus </label>
    <input type="checkbox" name="person" value="aristotle">
    <label>Aristotle </label>

    <br><br>
    <label><strong>Choose one or more colors: </strong></label>
    <input type="checkbox" name="color" value="lilac">
    <label>Lilac</label>
    <input type="checkbox" name="color" value="chartreuse">
    <label>Chartruese</label>
    <input type="checkbox" name="color" value="eggshell">
    <label>Eggshell</label>

    <br><br>
    <label><strong>Choose one or more nouns: </strong></label>
    <input type="checkbox" name="noun" value="lilpig">
    <label>lilpig </label>
    <input type="checkbox" name="noun" value="eggwhites">
    <label>Eggwhites </label>
    <input type="checkbox" name="noun" value="kiwibird">
    <label>kiwibird </label>

    <br><br>
    <label><strong>Choose one or more adjectives:</strong></label>
    <input type="checkbox" name="adjective" value="fluffy">
    <label>Fluffy </label>
    <input type="checkbox" name="adjective" value="eggbrained">
    <label>Eggbrained </label>
    <input type="checkbox" name="adjective" value="perky">
    <label>Perky </label>
    
    <br><br><input type="submit">
</form>
    

{% endblock %}

<!-- If you modified your inputs above to include checkboxes, 
    you probably ended up with a list of unknown length which 
    you then needed to translate into grammatical, well-punctuated 
    English. (Was the red, or red and white, or red, white, 
    and blue?) Use a Jinja  block to handle the potential 
    commas and potential word and. (Hint: you probably need a 
     in there, also.)

    If you modified greet_person() as described in the previous section, 
    you can use the same logic you just implemented to modify greet_person() 
    to pass a list of a random number of compliments, and then handle the 
    punctuation of said list the same way (instead of displaying the 
    compliments in an unordered list). -->